.whiteColor {
  border: 1px solid #979595;
}

.pinkColor {
  background-color: pink;
}

.blackColor {
  background-color: black;
}

.blueColor {
  background-color: blue;
}

.yellowColor {
  background-color: yellow;
}

.redColor {
  background-color: rgb(255, 3, 3);
}

.orangeColor {
  background-color: rgb(255, 165, 0);
}

.greenColor {
  background-color: green;
}

.purpleColor {
  background-color: purple;
}
.navyColor {
  background-color: rgb(0, 0, 128);
}

.brownColor {
  background-color: brown;
}

.grayColor {
  background-color: gray;
}

.beigeColor {
  background-color: rgb(219, 219, 168);
}